@page "/create-new-password"
@using PrintManagement.Client.Components.Layout
@layout LoginLayout

<MudGrid Class="d-flex justify-center mt-5">
	<MudItem xs="5" sm="4">
		<MudPaper Class="pa-4">
			<MudForm>
				<h2 class="d-flex justify-center">Tạo mật khẩu mới</h2>
				<MudTextField T="string" @bind-Value="confirmCode" Label="Confirm Code" Required="true" RequiredError="Confirm Code is required!" />
				<MudTextField T="string" @bind-Value="newPassword" Label="New Password" HelperText="Choose a strong password"
							  InputType="InputType.Password" Required="true"
							  RequiredError="Password is required!" />
				<MudTextField T="string" @bind-Value="confirmPassword" Label="Confirm Password" HelperText="Choose a strong password"
							  InputType="InputType.Password" Required="true"
							  RequiredError="Password is required!" />
				<div class="d-flex align-center justify-space-between mt-2">
					<MudButton Variant="Variant.Filled" Href="/forgot-password">Quay lại</MudButton>
					<MudButton OnClick="HandleCreatePassword" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Xác nhận</MudButton>
				</div>
			</MudForm>
		</MudPaper>
	</MudItem>
</MudGrid>
