@page "/forgot-password"
@using PrintManagement.Client.Components.Layout
@layout LoginLayout

<MudGrid Class="d-flex justify-center mt-5">
	<MudItem xs="5" sm="4">
		<MudPaper Class="pa-4">
			<MudForm>
				<h2 class="d-flex justify-center">Quên Mật Khẩu</h2>
				<MudTextField T="string" @bind-Value="email" Label="Email" Required="true" RequiredError="Email is required!"/>
				<div class="d-flex align-center justify-space-between mt-3">
					<MudButton Variant="Variant.Filled" Href="/">Quay lại</MudButton>
					<MudButton OnClick="HandleForgot" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Gửi mã</MudButton>
				</div>
			</MudForm>
		</MudPaper>
	</MudItem>
</MudGrid>

